# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt

# Environment variables
.env

# Flask
instance/
.webassets-cache

# Vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
